<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Message</title>
  <link rel="stylesheet" href="/styles/index.css">
</head>

<body>
  <div class="message">
    <h1>
      <%= msg.username %>
    </h1>
    <p>
      <%= msg.message %>
    </p>
    <p>
      <%= msg.created_at.toLocaleString() %>
    </p>
  </div>

  <a href="/" class="link"><button tabindex="-1">Go Back Home</button></a>
</body>

</html>