<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Message</title>
  <link rel="stylesheet" href="/styles/index.css">
</head>

<body>
  <div class="content messagesContent">
    <div class="message">
      <div class="flexRow widthMax">
        <strong>
          <%= msg.username %>
        </strong>
        <div class="date dateTopRight">
          <%= timeAgo(msg.created_at.toISOString()) %>
        </div>
      </div>
      <hr>
      <div class="flexRow widthMax">
        －<%= msg.message %>
      </div>
    </div>
  </div>

  <a href="/" class="link"><button tabindex="-1">Go Back Home</button></a>
</body>

</html>