body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  flex-direction: column;
  align-items: start;
}

form {
  background: #fff;
  padding: 20px;
  margin: 15px auto;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  width: 300px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: x-large;
}

textarea, input[type="text"] {
  max-width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

.link, button {
  background-color: antiquewhite;
  padding: 10px 20px;
  font-size: large;
  border-radius: 40px;
  text-decoration: none;
}

.link {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 0;
}

.link:hover, button:hover {
  background-color: #ddd;
}

.link a {
  text-decoration: none;
  color: black;
}