.link {
  background-color: antiquewhite;
  padding: 10px 20px;
  margin: 15px;
  font-size: large;
  border-radius: 40px;
  text-decoration: none;
  position: absolute;
  top: 10px;
  left: 10px;
}

.link:hover, .link:focus {
  background-color: #ddd;
}

.link a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  flex-direction: column;
  align-items: start;
  max-height: 100vh;
  box-sizing: border-box;
  max-width: 100vw;
}

.content {
  background: #fff;
  padding: 20px;
  margin: 15px auto;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  max-width: 500px;
  max-height: calc(100vh - 30px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 10px;
  overflow-y: auto;
  box-sizing: border-box;
}

li {
  background: #fff;
  padding: 20px;
  margin: 15px auto;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 10px;
  font-size: x-large;
}

a {
  text-decoration: none;
  color: black;
}

li:hover,
li:focus {
  background-color: gainsboro;
}

.message {
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}