body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  max-height: 100vh;
  box-sizing: border-box;
  max-width: 100vw;
}

.content {
  box-sizing: border-box;
  background: #fff;
  padding: 20px;
  margin: 15px auto;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  width: max(400px, 50vw);
  max-width: 96vw;
  max-height: calc(100vh - 30px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 15px;
  overflow-y: auto;
}

li a {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
}

li {
  background: #fff;
  margin: 15px auto;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 10px;
  font-size: x-large;
}

a {
  text-decoration: none;
  color: black;
}

.userStats:hover,
.userStats:focus-within {
  background-color: gainsboro;
}

.message {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
}

.messagesContent {
  margin-top: 50px;
}

hr {
  width: 100%;
  border: 0;
  height: 2px;
  background: #ccc;
}

.link, button {
  background-color: antiquewhite;
  padding: 10px 20px;
  font-size: large;
  border-radius: 40px;
  text-decoration: none;
}

.link {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 0;
}

.link:hover, button:hover {
  background-color: #ddd;
}

.link a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.flexRow {
  display: flex;
  gap: 10px;
}

.spaceBetween {
  justify-content: space-between;   
}

.statBody {
  display: flex;
  flex-direction: column;
}

.date {
  font-style: italic;
  font-weight: 100;
  transform: translate(12px, -15px);
  font-size: medium;
}

.widthMax {
   width: 100%;
   justify-content: space-between;
}

p {
width: 100%;
  word-wrap: break-word;
  white-space: pre-wrap;
}